/* Font faces */
@font-face {
    font-family: 'CMU Sans Serif';
    src: url('fonts/cmunss.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Sans Serif';
    src: url('fonts/cmunsx.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Base styles */
body {
    font-family: 'CMU Sans Serif', 'Computer Modern', 'Arial', sans-serif;
    color: #333333;
    font-weight: 300;
    font-size: 14pt;
    /* background-color: #FFFEF9; */
}

a {
    color: #0000CD;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

/* Menu styles */
.menulink {
    color: #333333;
    font-size: 16pt;
    text-decoration: none;
}

.menulink:hover {
    color: #111;
}

/* Header and name styles */
.header {
    color: #000000;
    font-size: 18pt;
    text-decoration: none;
}

.name {
    color: #000000;
    font-size: 23pt;
}

/* Publication styles */
.papertitle {
    color: #000000;
    font-size: 15pt;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
}

.thisauthor {
    color: #000000;
    text-decoration: underline;
    font-style: normal;
}

.instilogo {
    height: 50px;
    filter: grayscale(20%);
}


.noter {
    font-size: 9pt;
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
}

.paper {
    border-left: 1px solid #ddd;
}

.profilepic {
    width: 280px;
    border-radius: 30%;
    display: block;
    margin: 0 auto;
    /* filter: grayscale(100%); */
}

.fixed-posi {
    text-align: center;
}

@media (min-width: 768px) {
    .fixed-posi {
        /* width: 50%;
            margin-left: 50%;
            min-height:100%; */
        position: fixed;
        text-align: center;
    }
}

@media only screen and (max-width: 900px) {
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 200px;
        border-radius: 30%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        /* filter: grayscale(100%); */
    }

    .menur {
        padding-top: 18px !important;
    }

}

.news-item {
    border-left: 1px solid #ddd;
    padding-left: 10px;
    margin-bottom: 15px;
    line-height: 1.6;
}

.news-title {
    font-weight: 400;
    color: #111;
}

.date {
    font-size: 9pt;
    color: #777;
    display: block;
    padding-top: 4px;
}


.service-item {
    border-left: 1px solid #ddd;
    padding-left: 10px;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #111;
}

.conf a {
    color: #007bff;
    text-decoration: none;
}

.conf a:hover {
    text-decoration: underline;
}

.award {
    color: #cc3333;
    font-weight: bold;
}

.footnote {
    font-size: 0.8em;
    color: gray;
    margin-top: 5px;
}

/* GitHub Stars styling */
.github-stars {
    font-size: 0.9em;
    color: #666;
    margin-left: 5px;
    display: none; /* Initially hidden, shown when data loads */
}

.github-stars:hover {
    color: #333;
}

/* Template Credit styling */
.template-credit {
    font-size: 0.85em;
    color: #999;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.template-credit a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s;
}

.template-credit a:hover {
    color: #333;
    text-decoration: underline;
}

/* .thisauthor {
    color:#111;
    text-decoration: underline;
} */